@font-face {
  font-family: 'VelaSans';
  src: url('font/VelaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VelaSans';
  src: url('font/VelaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'VelaSans', sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#app {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vw * 16 / 9);
}

@media (min-aspect-ratio: 16/9) {
  #app {
    width: calc(100vh * 16 / 9);
    height: 100vh;
  }
}

#menu,
#game {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  position: relative;
}

#backButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hidden {
  display: none;
}

button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
}
